
.theme-light {
        --color-primary: rgba(8, 8, 144, 0.956);
        --color-secondary: white;
        --color-tertiary: rgba(41, 41, 227, 0.956);    
     }
     
.theme-dark {
        --color-primary: white;
        --color-secondary: rgba(8, 8, 144, 0.956);
        --color-accent:rgba(41, 41, 227, 0.956) ;
     }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color:var(--color-primary);
}

.container {
    background-color:var(--color-secondary);
    width: 90%;
    position: absolute;
    top:5%;
    left:5%;
    bottom: 5%;
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.nav {
    width:100%;
    display: flex;
    justify-content: space-between;
    height:20vh;
}

.container .nav img {
    width:20vw;
}

.container .nav p {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    align-self: center;
    font-weight:bolder;
    color:var(--color-primary);
}
.search-box {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 30vw;
    align-items: center;
    background-color:var(--color-primary) ;
    width:50%;
    height: 30%;
    border-radius: 20px;
}
.container .search-box .search-head {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    align-self: center;
    font-weight:bold;
    color:var(--color-secondary) ;
}

 .search-box input {
    margin-top: 20px;
    padding: 10px;
    width: 40%;
    outline: none;
    border: 3px solid var(--color-secondary);
    border-radius: 5px;
    font-size: 16px;
}

.search-box input:hover{
    border: 3px solid var(--color-primary);
    scale: 105%;
}

.search-box #search-btn {
    margin-top: 20px;
    margin-left: 10px;
    width: 7vw;
    height: 4vh;
    color:var(--color-secondary);
    border-color:var(--color-secondary);
    font-weight: bold;
    background-color: var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
}
.search-box #search-btn:hover {
    border: 3px solid var(--color-tertiary)
    scale: 105%;
}

#switch{
    width:50px;
    height: 30px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}
#switch:hover {
    scale: 110%;
}

.result {
    position: relative;
}
.result h3 {
    font-size: 60px;
    margin-left: 52%;
    margin-right: 5%;
    color: var(--color-primary);
}
.result .word {
    display: flex;
    margin-top: 40px;
}
.result button {
    background-color: transparent;
    color: var(--color-primary);
    border: none;
    outline: none;
    font-size: 40px;
    margin-right: auto;
}
.result button:hover{
    color: var(--color-tertiary);
    scale: 105%;
    cursor: pointer;
}
.result .details {
    display: flex;
    gap: 10px;
    color: var(--color-primary);
    justify-content: center;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 20%;
}
.word-meaning {
    color: var(--color-primary);
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    margin-left: 20%;
}
.word-example {
    color: var(--color-primary);
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    margin-left: 20%;
}
.error {
    color:var(--color-primary);
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin-top: 5vw;
    margin-left: 15vw;
}

@media screen and (max-width:815px) {

    .container .nav p {
        margin-left: 80px;
    }

    .search-box {
        margin-left: 20vw;
        width:70%;
       
    }
}
